In [106]:
class Mera_LR:
    def __init__(self):
        self.m =None
        self.b = None
    def fit(self,X_train, y_train):
        num = 0 
        den = 0 
        for i in range(X_train.shape[0]):
          num = num + (X_train[i]-X_train.mean())*(y_train[i]-y_train.mean())
          den = den + ((X_train[i]-X_train.mean())*(X_train[i]-X_train.mean()))
        self.m = num/den 
        self.b = y_train.mean() - (self.m*X_train.mean())
        print("m : " , self.m )
        print("b : " , self.b )


    def predict(self,X_test):
        print(X_test)
        return self.m*X_test -self.b

In [107]:
import numpy as np 
import pandas as pd

In [108]:
df = pd.read_csv(r"C:\Users\HOME\Downloads\Salary_dataset.csv")

In [109]:
df.head(1)

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0

In [110]:
df.drop(columns = ["Unnamed: 0"], inplace = True)

In [111]:
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [112]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [113]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train , y_test = train_test_split(X,y, test_size = 0.2,random_state = 2)

In [114]:
X_train

array([ 8.3,  3.1,  2.1,  6.9,  3. ,  9.7,  4.1,  2.3,  4. ,  5.2, 10.4,
        9.1,  5.4,  1.6,  3.3,  9.6,  8.8,  6. ,  4.1,  8. , 10.6,  4.2,
        5. ,  3.3])

In [115]:
lr = Mera_LR()

In [116]:
lr.fit(X_train, y_train)

m :  9569.586885432866
b :  23437.21046340505

In [117]:
lr.predict(X_test[0])

1.4

np.float64(-10039.788823799037)